  * h3 {
  color: #E2A200;
}

  * p {
  color: #ffffffc9;
}

* li {
  color: #ffffffc9;
}
  body {
  background-color: #22212C;
  font-family: 'Rubik', sans-serif;
  max-width: 1440px;
  margin: 40px;
  }
  
   .global {
    padding: 16px;
    display: flex;
    flex-direction: row;
   }
   
   .card-perfil {
    background: #302F3D; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 340px;
    height: 290px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   #foto-perfil {
    width: 128px; 
    height: 128px; 
    padding: 4px;
    border: 2px solid #E2A200; 
    border-radius: 70px;
  }

   .card-icones {
    background: #302F3D; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    max-width: 340px;
    margin-bottom: 16px;
    padding: 16px;
    flex-direction: column;
   }

   .card-icones div {
    display: flex;
  }

   .card-icones p {
  font-size: 16px;
  margin-left: 8px;
  }

   .card-ferramentas { 
    background: #302F3D; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 16px;
    padding: 16px;

  }

 .card-ferramentas div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }

 .card-ferramentas h3 {
  font-size: 20px;
  margin-right: 100px;
}

  .ferramentas {
    font-size: 16px;
    background-color: #E2A200; 
    border-radius: 4px;
    max-width: 100px;
    min-width: 86px;
    max-height: 140px;
    min-height: 60px;
    margin: 8px;
    justify-content: center;
    align-items: center;
  }
    
  .card-experiencias { 
    background: #302F3D; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 340px;
   
    margin-bottom: 16px;
    flex-direction: column;
  }
  .card-experiencias div {
    padding: 16px;
  }
  .card-experiencias p {
    margin-top: 6px;
  }
  .card-formacoes { 
    background: #302F3D; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 340px;
    margin-bottom: 16px;
    flex-direction: column;
  }
.card-formacoes div {
  padding: 16px;
}
.card-formacoes p {
  margin-top: 6px;
}
  .card-projetos {
    background: #302F3D; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 900px;
    height: 80px;
    margin-bottom: 16px;
    
  }
   .coluna-secundaria {
  margin-left: 40px;
  }

  .card-duplo {
    display: flex;
    flex-direction: row;
    
  }
  .card-um {
    background: #302F3D; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 50%;
    height: 200px;
    margin-bottom: 16px;
    margin-right: 16px;
  }
  .card-dois{
    background: #302F3D; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 50%;
    height: 200px;
    margin-bottom: 16px;
    
  }
  .card-postagem-recente {
    background: #302F3D; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 900px;
    height: 80px;
    margin-bottom: 16px;
    
  }
  .card-ultima-postagem {
    background: #302F3D; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 900px;
    height: 200px;
    margin-bottom: 16px;
    
  }